@{
    ViewBag.Title = "Payment Method";
}

<div class="payment-method-container">
    <p>We support ...</p>
    <div class="payment-selection">
        <a href="/CheckOut/Index?Id=@ViewBag.ReservationId"><img src="/photos/paypal.svg" style="width:200px;height:200px;" /></a>
        <a href="/Payment/PaymentDetail?Id=@ViewBag.ReservationId"><img src="/photos/duitnow.jpg" style="width:200px;height:200px;" /></a>
    </div>

</div>