@{
    ViewBag.Title = "Payment Detail";
}

<div class="payment-detail-container">
    <p>Reservation ID : @ViewBag.rsId</p>
    <p>Payment Amount : RM @ViewBag.Amount</p>
    <p>Payment Method : QR E-Wallet Payment</p>
</div>

<button class="button-pay" data-get="/Payment/QR?Id=@ViewBag.rsId&amount=@ViewBag.Amount">Pay Now</button>
