@{
    ViewBag.Title = "Order | Index";
}

<form data-ajax="true"
      data-ajax-update="#target"
      data-ajax-loading="#loader"
      id="f">

    @Html.TextBox("member", "",
    new { type = "search", autofocus = "", data_trim = "" , placeholder = "Member Name"})

    @*filter by date*@
    <label>Check-In After:</label>
    @Html.TextBox("startDate", "",
        new { type = "date"})

    <label>Check-Out Before:</label>
    @Html.TextBox("endDate", "",
        new { type = "date"})

    <button type="submit" class="btn btn-success">Filter</button>
    <button class="btn btn-danger" type="reset">Reset</button>

    <div class="spinner-border" id="loader" style="display: none"></div>
</form>



@*filter by paid/no pay
    <form asp-action="Filter" method="get">
        <label>Paid:</label>
        <select name="paid">
            <option value="">All</option>
            <option value="true">Paid</option>
            <option value="false">Unpaid</option>
        </select>
        <button type="submit">Filter</button>
</form>*@

<div id="target">
    <partial name="ReservationRecord" />
</div>

@section foot {
    <script>
        let timer = null;

        $('#member').on('input', e => {
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target.form).submit(), 500);
        });
    </script>
}