@model ReserveVM

@{
    ViewBag.Title = "Reserve";
    // CheckIn within 30 days range
    string min = DateTime.Today.ToString("yyyy-MM-dd");
    string max = DateTime.Today.AddDays(30).ToString("yyyy-MM-dd");
}
<div class="container" style=" border-radius: 15px; overflow: hidden;">
    <div class="container-fluid bg-dark text-center text-white" style=" border-radius: 15px; overflow: hidden;">
        <div class="row">
            <div class="col">
                <h5>Book your perfect stay at Moonlight Loft</h5>
                <hr />
                <p>Reservation Policy :</p>
                <p>
                    - CheckIn within 30 days range (@min to @max)<br>
                </p>
                <p>
                    - CheckOut within 10 days range (after CheckIn)
                </p>
            </div>
            </div>
    </div>


    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3 row">
            <label asp-for="TypeName" class="col-sm-2 col-form-label">Type</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value=@Model.TypeName>
                <input type="hidden" asp-for="TypeId" />
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="CheckIn" class="col-sm-2 col-form-label">Check In</label>
            <div class="col-sm-10">
                <input asp-for="CheckIn" class="form-control" min="@min" max="@max">
                <span asp-validation-for="CheckIn"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label asp-for="CheckOut" class="col-sm-2 col-form-label">Check Out</label>
            <div class="col-sm-10">
                <input asp-for="CheckOut" class="form-control" min="@min" max="@max">
                <span asp-validation-for="CheckOut"></span>

            </div>
        </div>
        <div class="container bg-success text-center text-white" style=" border-radius: 15px; overflow: hidden;">
            <h4>
                <label>Your Will Stay </label>
                <span id="days"></span> Days
            </h4>

        </div>

        <br>

        <section>
            @if (User!.Identity!.IsAuthenticated)
            {
                <button class="btn btn-success">Reserve</button>
                <button class="btn btn-danger" type="reset">Reset</button>

            }
            else
            {
                <p>Please <a href="/Account/Login">Login</a> To Reserve.</p>
            }
        </section>
    </form>
</div>


@section foot {
    <script>
        // 1. Extend built-in Date object
        //    d.addDays(days) --> return new Date object after days added
        Date.prototype.addDays = function (days) {
            const d = new Date(this);
            d.setDate(d.getDate() + days);
            return d;
        };

        // 2. Extend built-in Date object
        //    d.format() --> return value in YYYY-MM-DD format
        Date.prototype.format = function () {
            return this.toISOString().substring(0,10);
        };

        // 3. #CheckIn input event
        //    --> Update #CheckOut min = #CheckIn +  1 day 
        //    --> Update #CheckOut max = #CheckIn + 10 days
        //    --> Adjust #CheckOut value (within range)
        $('#CheckIn').on('input', e => {
            const ci = $('#CheckIn')[0];
            const co = $('#CheckOut')[0];

            co.min = ci.valueAsDate.addDays( 1).format();
            co.max = ci.valueAsDate.addDays(10).format();

            if(co.value < co.min) co.value = co.min;
            if(co.value > co.max) co.value = co.max;

        });

        // 4. #CheckIn, #CheckOut input event
        //    --> Calculate days difference
        //    --> 1 day = 24 * 60 * 60 * 1000 ms
        $('#CheckIn,#CheckOut').on('input', e => {
            const ci = $('#CheckIn')[0]
            const co = $('#CheckOut')[0]
            const ms = co.valueAsDate - ci.valueAsDate;
            const days = parseInt(ms / (24 * 60 * 60 * 1000));
            $('#days').text(days);
        });

        // 5. Run #CheckIn input event for once
        $('#CheckIn').trigger('input');
    </script>
}
