@model Member


@{
    ViewBag.Title = "User Detail";
    var u = Model;
}


<img width="150" height="150" src="/photos/@u.PhotoURL">

<table class="table">
    <tr>
        <th>Name</th>
        <td>@u.Name</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@u.Email</td>
    </tr>
    <tr>
        <th>Role</th>
        <td>@u.Role</td>
    </tr>

</table>

<button class="btn btn-secondary btn-sm" data-get="/User/">Back</button>