@model BatchAddVM
@{
    ViewBag.Title = "New Room Information";
}

@* addsound *@
<audio id="notifySound" src="~/Sounds/ding-36029.mp3" preload="auto"></audio>


<div class="container mx-3 my-3 text-bg-light">
    <form method="post" id="batchAdd">
        <div class="mb-3 mt-3">
            <b>@ViewBag.TypeName</b>
            <input type="hidden" asp-for="TypeId" class="form-control" />
        </div>
        <div class="mb-3 mt-3">
            <label asp-for="Count">Number of Room Record</label>
            <input type="number" asp-for="Count" class="form-control" />
        </div>
        <section>
            <button class="btn btn-success">Add</button>
            <button class="btn btn-danger" type="reset">Reset</button>
            <button class="btn btn-secondary" data-get="/Room/Index?typeId=@ViewBag.TypeId">Back</button>
        </section>
    </form>
</div>



@section foot {
    <script>
        const form = document.getElementById('batchAdd');
        const sound = document.getElementById('notifySound');

        form.addEventListener('submit', function (e) {
             // check validility
            const validator = $(form).data('validator');
            if (validator && !$(form).valid()) {
               //no valid->no sound
                e.preventDefault();
                return;
            }

            e.preventDefault();
            sound.currentTime = 0;
            sound.play().then(() => {
                setTimeout(() => form.submit(), 250);
            }).catch(() => form.submit());
        });
    </script>
}
