@model LoginVM

@{
    ViewBag.Title = "Account | Login";
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password">
    <span asp-validation-for="Password"></span>

    <div class="g-recaptcha" data-sitekey="6Leo6ckrAAAAALKH38m9icnldgj1pc1wa8ulL7hp"></div>
    
    <br>
    <label>
        <input asp-for="RememberMe">Remember Me
    </label>
    <br>

    <section>
        <button>Login</button>
        <button class="reset-btn" type="reset">Reset</button>
    </section>
</form>

<p>
    [ <a href="/Account/Register">Register</a> |
      <a href="/Account/ResetPassword">Reset Password</a> ]
</p>