@model NewPasswordVM

@{
    ViewBag.Title = "Reset Password";
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-floating mb-3 mt-3">
        <input asp-for="Email" disabled class="form-control" placeholder="Enter email">
        <label asp-for="Email"></label>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-floating mb-3 mt-3">
        <input asp-for="New" class="form-control" placeholder="Enter New Password">
        <label asp-for="New"></label>
        <span asp-validation-for="New"></span>
    </div>
    <div class="form-floating mb-3 mt-3">
        <input asp-for="Confirm" class="form-control" placeholder="Confirm New Password">
        <label asp-for="Confirm"></label>
        <span asp-validation-for="Confirm"></span>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <div class="g-recaptcha" data-sitekey="6Leo6ckrAAAAALKH38m9icnldgj1pc1wa8ulL7hp"></div>
    </div>

    <section>
        <button class="btn btn-warning">Update</button>
        <button class="btn btn-danger" type="reset">Reset</button>
    </section>
</form>
