@model UpdatePasswordVM

@{
    ViewBag.Title = "Update Password";
}

<div class="container mx-3 my-3 text-bg-light">
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-floating mb-3 mt-3">
            <input asp-for="Current" autofocus class="form-control" placeholder="Enter Current Password">
            <label asp-for="Current"></label>
            <span asp-validation-for="Current"></span>

        </div>
        <div class="form-floating mb-3 mt-3">
            <input asp-for="New" class="form-control" placeholder="Enter New Password">
            <label asp-for="New"></label>
            <span asp-validation-for="New"></span>

        </div>
        <div class="form-floating mb-3 mt-3">
            <input asp-for="Confirm" class="form-control" placeholder="Confirmation">
            <label asp-for="Confirm"></label>
            <span asp-validation-for="Confirm" class="invalid-feedback"></span>

        </div>

        <section>
            <button class="btn btn-warning">Update</button>
            <button class="btn btn-dangerous" type="reset">Reset</button>
        </section>
    </form>

</div>
